services:
  mariadb:
    image: mariadb:latest
    container_name: sai-nuxt-mariadb
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: nuxt
    ports:
      - '5535:3306'
    volumes:
      - .data/mariadb:/var/lib/mysql
    restart: unless-stopped


